.navigation {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 15px; */
    display: flex;
    justify-content: space-around;
    height: 6vh;
    align-items: center;
    background-color: rgb(232, 233, 233);
    border-radius: 25px;
    margin: 2%;
    /* background-attachment: fixed; */
}
.navi {
    border: none;
    background-color: rgb(232, 233, 233);
    font-size: 15px;
    width: 14%;
    padding: 10px;
    border-radius: 20px;
}
.navi:hover{
    background-color: white;
    /* background-size: cover; */
    transition: 0.4s ease;
    border-radius: 20px;
    text-align: center;
    border: none;
}
.best-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3px;
    margin: 3%;
}
.box-title {
        display: flex;
        margin-left: 3%;
        margin-top: 4%;
        margin-bottom: 2%;
        gap: 5px;
    }
.box-1 {
    width: 45%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(212, 212, 212), solid, 1px;
    box-shadow: -5px 0 0 0 rgb(254, 142, 30);
    border-radius: 15px;
    h4 {
        color: rgb(113, 113, 113);
        font-weight: 80;
        margin-left: 3%;
        margin-bottom: 4%;
    }
    h5 {
    border: rgb(174, 174, 174), solid, 1px;
    border-radius: 7px;
    width: 130px;
    text-align: center;
    margin-left: 3%;
    margin-bottom: 4%;
    font-weight: 80;
    }
}

.box-2 {
    width: 45%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(212, 212, 212), solid, 1px;
    box-shadow: -5px 0 0 0 rgb(249, 249, 2);
    border-radius: 15px;
    h4 {
        color: rgb(113, 113, 113);
        font-weight: 80;
        margin-left: 3%;
        margin-bottom: 4%;
    }
    h5 {
    border: rgb(174, 174, 174), solid, 1px;
    border-radius: 7px;
    width: 130px;
    text-align: center;
    margin-left: 3%;
    margin-bottom: 4%;
    font-weight: 80;
    }
}
.box-3 {
    width: 45%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(212, 212, 212), solid, 1px;
    box-shadow: -5px 0 0 0 rgb(1, 217, 98);
    border-radius: 15px;
    h4 {
        color: rgb(113, 113, 113);
        font-weight: 80;
        margin-left: 3%;
        margin-bottom: 4%;
    }
    h5 {
    border: rgb(174, 174, 174), solid, 1px;
    border-radius: 7px;
    width: 130px;
    text-align: center;
    margin-left: 3%;
    margin-bottom: 4%;
    font-weight: 80;
    }
}
.box-4 {
    width: 45%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(212, 212, 212), solid, 1px;
    box-shadow: -5px 0 0 0 rgb(1, 153, 255);
    border-radius: 15px;
    h4 {
        color: rgb(113, 113, 113);
        font-weight: 80;
        margin-left: 3%;
        margin-bottom: 4%;
    }
    h5 {
    border: rgb(174, 174, 174), solid, 1px;
    border-radius: 7px;
    width: 130px;
    text-align: center;
    margin-left: 3%;
    margin-bottom: 4%;
    font-weight: 80;
    }
}
.season-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(82, 82, 82);
    margin-top: 25px;
}
.season-img {
    margin: 0;
    width:100% ;
    height: 50vh;
    margin-bottom: 20px;
  }
@media (max-width:500px) {
    .navigation {
        height: 4vh;
    }
    .navi {
        font-size: 11px;
        width: 18%;
        padding: 6px;
    }
    .season-title {
        font-size: 23px;
    }
}