.p-tips {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}
.p-box {
    font-family: Arial, Helvetica, sans-serif;
    width: 45%;
    margin: 2%;
    margin-left: 0%;
    border: solid, gray, 1px;
    border-radius: 15px;
}
.p-title {
    display: flex;
    gap: 5px;
    h3 {
        padding-top: 1%;
    }

}
.p-info {
    h3 {
        margin-bottom: 4%;
        gap: 5px;
        gap: 10px;
    }
    ol{
        margin: 2%;
    }
    margin-left: 5%;
    margin: 3%;
}