
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.app {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #e0f7fa;
  min-height: 100vh;
}
.homepage {
  /* padding: 1rem; */
  /* background: #e0f7fa; */
  .home-button {
    color: rgb(2, 182, 253);
    background-color: rgb(189, 234, 252);
    padding: 7px;
    width: 25%;
    border: rgb(145, 224, 255), solid;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .home-button:hover {
    background-color: rgb(133, 220, 254);
  }
}
.home-img {
    margin: 0;
    width:100% ;
    height: 50vh;
    margin-bottom: 20px;
  }
