.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  margin-top: 10px;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
  /* grid-template-columns: repeat(2, 1fr); */
}
.card-1{
  /* border: 1px, solid, gray; */
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 50px;
  background-color: rgb(185, 234, 254);
  width: 38%;
  p {
    padding: 5px;
  }
  img {
    width: 100%;
    height: 170px;
  }
}
.card-1:hover {
background-color: rgb(138, 220, 253);
transition: ease-in, 0.6ms;
}
    