Nav{
    background-color: rgb(168, 232, 255);
    /* border-radius: 10px; */
    padding: 10px;
    /* margin-bottom: 20px; */
}
.pgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.title {
    text-decoration: none;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 183, 255);
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 183, 255);

}
.nav-link:hover {
    background-color: rgb(202, 239, 254);
    padding: 10px;
    border-radius: 10px;
}
@media (max-width:500px) {
    .title {
        font-size: 18px;
        /* padding-bottom: 4px; */

    }
    .nav-link {
        font-size: 12px;
        padding-top: 6px;
    }
}