.weather-card {
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    border: 1px, solid, black;
    border-radius: 15px;
    background-color: azure;
}
